.app-root {
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

@media (min-width: 640px) {
    .app-root {
        padding: 1.5rem;
    }
}

.app-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.card-content-wrapper {
    padding: 1rem;
}